<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Twitter Search</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container center' >

    <p><h3>What would you like to search for?</h1></p>

    <form action='result' method='post'>
      Search terms: <input type ="text" name="terms">
      <br>
      Number of terms to display: <input type = "number" name ="number">
      <br>
      <input type="submit" value="Search">
    </form>

  </body>
</html>